# Virtual Environment
.venv/

# Python cache
__pycache__/
*.pyc

# Uploaded images
backend/static/uploads/

# Large datasets
datasets/

# Training data
database/

# OS files
.DS_Store
Thumbs.db
models/yield_model.pkl